{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
    <div class="container-fluid">

        {% if thread %}
        <div class="d-flex justify-content-center">
            <h1 class="display-1">
              {{thread.title}}<br>
            </h1>
        </div>
        <small>Posted: {{thread.created_at|naturaltime}}</small><br>
                {% if thread.picture %}
                  <span class="border border-primary">
                    <img class="img-fluid" src="{% url 'discussion:picture' thread.id %}" alt="">
                  </span>

                  {% else %}
                  <div class="d-flex justify-content-center">

                    <small>No Image Available</small>
                  </div>
                {% endif %}
        <div class="space d-flex justify-content-center">

            <p class="lead">

                {{thread.text}}
              </p>
        </div>
        {% endif %}
        <div class="space">
              {% if comments %}
                  {% for comment in comments %}
                  <div class="space">
                    <h1 class="display-4">Anonymous Says:</h1>
                    <small>{{comment.created_at|naturaltime}}</small>
                    <p class="text-right lead">
                      {{comment.text}}
                    </p>
                  </div>
                  {% endfor %}
              {% else %}
              <h2>No comments</h2>
              {% endif %}
        </div>

        <div class="space">

          <form action="{% url 'discussion:comment' thread.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{comment_form|crispy}}
            <button type="submit" class="btn btn-outline-primary">Submit</button>
          </form>
        </div>
    </div>
{% endblock %}
